DATABASE_URL=<your-postgres-database-url>

BETTER_AUTH_SECRET=<your-betterauth-secret>
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app

NEXT_PUBLIC_APP_URL=http://localhost:3000 # Base URL of your app (for client-side)

RESEND_API_KEY=<your-resend-api-key>

NODE_MAILER_EMAIL=<your-gmail-email>
NODE_MAILER_PASSWORD=<your-google-app-password>

JWT_SECRET=<your-jwt-secret>

